NODE_ENV=dev

# Auth
JWT_SECRET=asdfasdfadsf

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/database?schema=public"

# Mail
SENDGRID_API_KEY=asdfasdfadsf
SENDGRID_MAIL_FROM="example@domain.com.br"

# Certbot
DOMAIN=domain.com.br
CERTBOT_EMAIL=contato@domain.com.br

# AWS S3
AWS_ACCESS_KEY_ID=asdfasdfadsf
AWS_SECRET_ACCESS_KEY=asdfasdfadsf
AWS_REGION=asdfasdfadsf
AWS_S3_BUCKET=asdfasdfadsf
